*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.awesome{
    width: 1170px;
    height: 501px;
    margin: 118px auto 110px;     
}

.title{
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.title__text {
    height: 45px;
    font-size: 36px;
}

.title__line{
    width: 170px;
    height: 1px;
    margin: 40px auto;
}

.title__line--pink{
    background-color: #EC7979;
}

.title__description{
    font-size: 18px;
    margin-bottom: 92px
}

.title__description--gray{
    color: #86878B;
}

.awesome__columns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.awesome__column{
    width: 371px; 
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.column__icon{
    width: 92px;
    height: 92px;
}

.column__title{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin: 24px auto 30px;

}

.column__desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}