.awesome {
    margin-top: 50px auto 58px;
}

.awesome__header {
    margin-bottom: 71px;
}

/* .awesome__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.awesome__column {
    display: inline-block;
    width: 370px;
    height: 383px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}
.awesome__column-icon {
    width: 170px;
    height: 170px;
    padding: 39px;
}
.awesome__column-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 8px;
}
.awesome__column-desc {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 105px;
}